name: Build and Push Docker Image
run-name: {% raw %}${{ github.actor }}{% endraw %} ran Build and Push

on:
  pull_request:
    branches:
      - main
    types:
      - closed
jobs:
  if_merged:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      -
        name: Checkout
        uses: actions/checkout@v3
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Log in to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: {% raw %}${{ github.repository_owner }}{% endraw %}
          password: {% raw %}${{ secrets.GITHUB_TOKEN }}{% endraw %}
      -
        name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          tags: {{org.docker_host}}/{{org.docker_org}}/{{info.slug}}_{{service.name}}_spa:latest
          build-args: |
            GITHUB_TOKEN={% raw %}${{ secrets.GH_PAT }}{% endraw %}